<h1>Lista de Productos</h1>
<ul>
  {{#if products.length}}
    {{#each products}}
      <li>
        <strong>{{this.title}}</strong> - ${{this.price}}<br>
        <em>{{this.description}}</em><br>
        Código: {{this.code}} | Stock: {{this.stock}} | Categoría: {{this.category}}
      </li>
    {{/each}}
  {{else}}
    <li>No hay productos disponibles.</li>
  {{/if}}
</ul>
